<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />

  </configSections>
  <dataConfiguration defaultDatabase="QuickStartsInstance" />
  <appSettings>
    <add key="Unline" value="GeoIM.CHIDI.DZ.Util.DataAccess" />
    <add key="Online" value="GeoIM.CHIDI.DZ.Services.ServiceFactory" />
    <add key="UserDataSavePath" value="C:\ProgramData\YWCH\User" />
    <add key="WebBaseURL" value="http://192.168.55.238:8081/" />
    <add key="ChkNWIP" value="127.0.0.1"/>
    <add key="ADServer" value="chidi.com" />
    <add key="ADDomain" value="chidi" />
    <add key="ADUser" value="p2004056" />
    <add key="ADPwd" value="" />
    <add key="ChkTest" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AttachmentPath_Unline" value="\UploadFolder"/>
    <add key="ModelWorkSpace" value="C:\ProgramData\GeoIM\WorkSpace"/>
    <add key="GeoSmartBB"  value="工程地质野外测绘编录 V1.0.0"/>
    <add key="GeoSmartMC"  value="中国电建集团 成都勘测设计研究院有限公司" />
    <add key="FileReadProgressStep" value="2055360000" />
    <add key="ShowInCustomizationForm" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--|DataDirectory|\DataBase\GeoDBLocal.mdf-->
    <add name="UnlinStartsInstance" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename={0};Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="ExceptionLog">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\GeoIM\Service\ErrorLog.log" formatter="Text Formatter" rollInterval="Week" rollSizeKB="3072" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Increment" />
      <add name="Rolling Flat File Trace Listener 2" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\GeoIM\Service\OperaLog.log" formatter="Text Formatter" traceOutputOptions="None" rollInterval="Week" rollSizeKB="3072" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Increment" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="ExceptionLog">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="OperaLog">
        <listeners>
          <add name="Rolling Flat File Trace Listener 2" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataAccessService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFileAccessService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2055360000" maxBufferPoolSize="2055360000" maxReceivedMessageSize="2055360000" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2055360000" maxArrayLength="2055360000" maxBytesPerRead="2055360000" maxNameTableCharCount="2055360000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISafeAccessService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.55.238:9069/DataAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataAccessService" contract="DataAccessService.IDataAccessService" name="BasicHttpBinding_IDataAccessService" />
      <endpoint address="http://192.168.55.238:9069/FileAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileAccessService" contract="FileAccessService.IFileAccessService" name="BasicHttpBinding_IFileAccessService" />
      <endpoint address="http://192.168.55.238:9069/SafeAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISafeAccessService" contract="SafeAccessService.ISafeAccessService" name="BasicHttpBinding_ISafeAccessService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>

    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\temp\wcf.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>