<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.11.1" targetFramework="net461" />
  <package id="MathNet.Spatial" version="0.2.0-alpha" targetFramework="net40-client" />
</packages>