<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.4" targetFramework="net40-client" />
  <package id="MathNet.Numerics" version="3.11.0" targetFramework="net40-client" />
  <package id="MathNet.Spatial" version="0.2.0-alpha" targetFramework="net40-client" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net40-client" />
</packages>